openapi: 3.0.3
info:
  title: Email API
  description: High-performance transactional email API
  version: 1.0.0
  contact:
    name: Email API Support
    email: support@emailapi.dev

servers:
  - url: https://api.emailapi.dev/v1
    description: Production
  - url: http://localhost:8080/v1
    description: Local development

security:
  - bearerAuth: []

paths:
  /send:
    post:
      operationId: sendEmail
      summary: Send an email
      description: Queue an email for sending
      tags:
        - Emails
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendEmailRequest'
      responses:
        '202':
          description: Email accepted for delivery
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendEmailResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /emails:
    get:
      operationId: listEmails
      summary: List emails
      description: Get a paginated list of sent emails
      tags:
        - Emails
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of emails
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailListResponse'

  /emails/{id}:
    get:
      operationId: getEmail
      summary: Get email by ID
      tags:
        - Emails
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Email details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
        '404':
          description: Email not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /webhooks:
    post:
      operationId: createWebhook
      summary: Create a webhook
      tags:
        - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookRequest'
      responses:
        '201':
          description: Webhook created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookWithSecret'

    get:
      operationId: listWebhooks
      summary: List webhooks
      tags:
        - Webhooks
      responses:
        '200':
          description: List of webhooks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookListResponse'

  /webhooks/{id}:
    get:
      operationId: getWebhook
      summary: Get webhook by ID
      tags:
        - Webhooks
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Webhook details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'

    patch:
      operationId: updateWebhook
      summary: Update a webhook
      tags:
        - Webhooks
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookRequest'
      responses:
        '200':
          description: Webhook updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'

    delete:
      operationId: deleteWebhook
      summary: Delete a webhook
      tags:
        - Webhooks
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Webhook deleted

  /users:
    post:
      operationId: createUser
      summary: Create a new user
      tags:
        - Users
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserWithApiKey'

  /users/me:
    get:
      operationId: getCurrentUser
      summary: Get current user
      tags:
        - Users
      responses:
        '200':
          description: Current user details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /users/me/api-key:
    post:
      operationId: regenerateApiKey
      summary: Regenerate API key
      tags:
        - Users
      responses:
        '200':
          description: New API key generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key in format "em_..."

  schemas:
    SendEmailRequest:
      type: object
      required:
        - from
        - to
        - subject
      properties:
        from:
          type: string
          format: email
          example: sender@example.com
        to:
          type: array
          items:
            type: string
            format: email
          minItems: 1
          example: ["recipient@example.com"]
        cc:
          type: array
          items:
            type: string
            format: email
        bcc:
          type: array
          items:
            type: string
            format: email
        subject:
          type: string
          example: "Hello from Email API"
        body:
          type: string
          description: Plain text body
        html:
          type: string
          description: HTML body
        metadata:
          type: object
          additionalProperties: true
        scheduled_at:
          type: string
          format: date-time

    SendEmailResponse:
      type: object
      properties:
        id:
          type: string
        status:
          $ref: '#/components/schemas/EmailStatus'

    Email:
      type: object
      properties:
        id:
          type: string
        from:
          type: string
        to:
          type: array
          items:
            type: string
        cc:
          type: array
          items:
            type: string
        bcc:
          type: array
          items:
            type: string
        subject:
          type: string
        body:
          type: string
        html:
          type: string
        status:
          $ref: '#/components/schemas/EmailStatus'
        provider_id:
          type: string
        user_id:
          type: string
        metadata:
          type: object
        scheduled_at:
          type: string
          format: date-time
        sent_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    EmailStatus:
      type: string
      enum:
        - pending
        - sent
        - delivered
        - failed
        - bounced

    EmailListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Email'
        limit:
          type: integer
        offset:
          type: integer

    CreateWebhookRequest:
      type: object
      required:
        - name
        - url
        - events
      properties:
        name:
          type: string
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            $ref: '#/components/schemas/WebhookEventType'
          minItems: 1

    UpdateWebhookRequest:
      type: object
      properties:
        name:
          type: string
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            $ref: '#/components/schemas/WebhookEventType'
        is_active:
          type: boolean

    Webhook:
      type: object
      properties:
        id:
          type: string
        user_id:
          type: string
        name:
          type: string
        url:
          type: string
        events:
          type: array
          items:
            $ref: '#/components/schemas/WebhookEventType'
        is_active:
          type: boolean
        retry_count:
          type: integer
        last_success:
          type: string
          format: date-time
        last_failure:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    WebhookWithSecret:
      type: object
      properties:
        webhook:
          $ref: '#/components/schemas/Webhook'
        secret:
          type: string
        message:
          type: string

    WebhookListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Webhook'

    WebhookEventType:
      type: string
      enum:
        - email.sent
        - email.delivered
        - email.failed
        - email.bounced
        - email.opened
        - email.clicked

    CreateUserRequest:
      type: object
      required:
        - email
        - name
      properties:
        email:
          type: string
          format: email
        name:
          type: string
        role:
          $ref: '#/components/schemas/UserRole'

    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        name:
          type: string
        role:
          $ref: '#/components/schemas/UserRole'
        api_key_prefix:
          type: string
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    UserWithApiKey:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        api_key:
          type: string
        message:
          type: string

    UserRole:
      type: string
      enum:
        - admin
        - member

    ApiKeyResponse:
      type: object
      properties:
        api_key:
          type: string
        message:
          type: string

    Error:
      type: object
      properties:
        error:
          type: string
        details:
          type: string
