[Unit]
Description=Email API Service
After=network.target redis-server.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/muhammadusama_mofx/emailapi/apps/api
ExecStart=/home/muhammadusama_mofx/emailapi/apps/api/emailapi
EnvironmentFile=/home/muhammadusama_mofx/emailapi/deploy/.env
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
